
#formfill{
    border: 2px solid tomato;
    width: 250px;
    text-align: center;
}
#formfill,#del,#del{
    position: absolute;
    left: 600px;
    top: 150px;
}
#WholeTable{
    position: absolute;
    left: 400px;
    top: 150px;
    border-radius: 10px;
}
#but{
    position: absolute;
    left: 600px;
}

.container{
    border: 2px solid black;
    height: 500px;
    width: 300;
    background-color: rgb(167, 221, 225);
    border-radius: 30px;
}
/* @media (min-width:760px){
    #formfill,#del,#del{
        position: absolute;
        left: 300px;
        top: 100px;
    }
    #WholeTable{
        position: absolute;
        left: 30px;
        top: 150px;
        border-radius: 10px;
    }
    #but{
        position: absolute;
        left: 250px;
    }
} */
/* @media (min-width:425px){
    .container{
        border: 2px solid black;
        height: 500px;
        width: 550;
        background-color: rgb(167, 221, 225);
        border-radius: 30px;
    }
    #formfill,#del,#del{
        position: absolute;
        left: 100px;
        top: 100px;
    }
    #WholeTable{
        position: absolute;
        left: 10px;
        top: 150px;
        width: 10px;
        width: max-content;
        border-radius: 10px;
    }
    #but{
        position: absolute;
        left: 50px;
    }
} */